body{
    font-family: monospace;
    font-size: 2em;
    background-color: rgb(163, 248, 220);
}
h1{
    color:white;
    border: solid 3px black;
    background-color: blue;
    border-radius:15px;
}
form{
    background-color: rgb(60, 60, 247);
    color: rgb(220, 220, 255);
    text-align: center;
    max-width: 500px;
    margin:auto;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 8px 8px 10px black;
}

button{
    background-color: blue;
    color: white;
    padding: 10px;
    font-size: 30px;
    border-radius: 15px;
    border-style:none;
    box-shadow: 3px 3px 5px black;
}

button:hover{
    background-color: rgb(1, 1, 185);
    cursor: pointer;
}
button:active{
    box-shadow: inset 3px 3px 5px black;
}

#textBox{
    width:40%;
    font-size: 25px;
    text-align: center;
    background-color: rgb(33, 33, 197);
    color: rgb(220, 220, 255);
    border-style: none;
    border-color: rgb(70, 70, 247);
    border-radius: 10px;
    box-shadow: inset 2px 2px 15px rgb(0, 0, 0); 
}

#result{
    width: fit-content;
    display:inline-block;
    background-color: rgb(33, 33, 197);
    color: rgb(220, 220, 255);
    border-color: rgb(70, 70, 247);
    border-radius: 10px;
    box-shadow: inset 2px 2px 15px rgb(0, 0, 0);
    
}
